<article id="<%= dom_id(article) %>" class="mb-3 mx-2">
  <h2><%= link_to article.title, article_path(article) %></h2>
  Author: <%= article.user.name %> | Posted: <%= article.created_at %>
  <p><%= article.body %></p>
  <div>
    <% if logged_in? && article.user_id == current_user.id %>
      <%= link_to "Edit", edit_user_article_path(current_user, article) %> |
      <%= link_to "Delete", article, method: :delete, data: { "turbo-confirm": "Are you sure? " } %>
    <% end %>
  </div>
</article>
<hr />
