<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <%= link_to "Hotwire Blog", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="navbar-nav me-auto mb-2 mb-lg-0">
          <%= link_to "Home", root_path, class: "nav-link" %>
          <%= link_to "Articles", articles_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0 dropdown">
        <% if logged_in? %>
          <a class="nav-link dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag avatar_path(current_user, size: 40), width: 20, height: 20, class: "rounded me-1" %>
            <%= current_user.name %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Profile", user_path(current_user.slug), class: "dropdown-item nav-link" %></li>
            <li><%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item nav-link" %></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><%= button_to "Sign out", sign_out_session_path, method: :delete, class: "dropdown-item nav-link border-0 bg-transparent" %></li>
          </ul>
        <% else %>
          <li> <%= link_to "Sign up", new_user_path, class: "nav-item nav-link" %></li>
          <li><%= link_to "Login", session_path, class: "nav-item nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>